body{
    background-color: beige;
}
h3{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    border: 5px; 
    text-align: center;
    border-color: brown;
    


}
figcaption{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-color: brown;
    
}

img{
    width: 25%;
    height: 35%;
    text-align: center;
    margin: auto;
    display: flex;
    border-style: outset;
    border-color: brown;

}

.social-media{
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: center;
}

div div ul a{
    text-decoration: none;
    color: brown
    
}
li{
    display: block;
    padding: 10px 15px;
    border-right: 1px solid beige;
}

li:last-child{
    border: none;
}

.social-media a:hover{
    background-color: brown;
}

.social-media i{
    margin: 10px;
}
    
span{
    color: brown;
}







